<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
    <title>My profiles's!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> All Profiles</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
    <div class="container my-3">
        <h2> This is my Active Profile list </h2>


        {% if allProf|length == 0 %}
        <div class="alert alert-dark" role="alert">
            No profiles found. Add your first profile now!
        </div>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S no.</th>
                    <th scope="col">Name</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Status</th>
                    <th scope="col">Creation Time</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in allProf %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{prod.name}}</td>
                    <td>{{prod.dob}}</td>
                    <td>{{prod.status}}</td>
                    <td>{{prod.date_created}}</td>
                    <td>
                        <a href="/update/{{prod.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update
                            Status</button>
                            <a href="/delete/{{prod.sno}}" method="DELETE" type="button"
                                class="btn btn-outline-info mx -2">delete Profile</button>
                    </td>



                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}



    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>